<div class="container">
<h1>Pagina de comment section</h1>

<%# formulario - input text - input submit -  %>
  <div class="form-group">
  <%= simple_form_for @comment do |f| %>
    <%= f.input :content, as: :text %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
  </div>
</div>