.logo {
  max-height: 50px;
}

.banner {
  padding: 20px 0;
  
}

.infos {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 25px;
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

.icons {
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5px;
}