.banner-form {
    // padding: 20px 0;
    background-image: url(asset_path('preview.jpg'));
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    display: flex;
    align-items: center;
    justify-content: center;
  }