<div class="container main-post">
  <div class="poster">
    Poster
  </div>
  <div>
    bloco direito
    <div> <%= @post.movie_id %></div>
    <div> <%= @post.id %>
      
    </div>
    <div> <%= @post.comment %></div>
    <div>
      <div>like</div>
      <div>comment</div>
    </div>
  </div>
</div>