.navbar-lewagon {
  justify-content: space-between;
  background: black;

.nav-login {
  color: $laranjabotao;
  font-weight: bold;
}

.nav-link {
  color:#e67e22a8 !important;
  font-weight: bold;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-brand img {
  width: 100px;
}

.logoss {
  width: 100%;
}

.active {
  color: $orange !important;
}
}